body {
    margin: 0;
    font-family: 'Gilroy', sans-serif;
    box-sizing: border-box;
  }

ul {
    padding: 0;
    list-style-type: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
    &_margin-padding {
        margin-top: 129px;
        padding-bottom: 129px;
    }
}

.title {
    position: relative;
    margin-top: 17px;
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 1;
    font-weight: 500;
    color: #454750;
    &::after {
        content: "";
        position: absolute;
        top: -15px;
        left: 0;
        height: 2px;
        width: 50px;
        background-color: #3685EE;
    }
}
 
@import "fonts";  
@import "portfolio";  
@import "media"
  